/*-- Global Styles --*/
:root {
  --prime: #124559;
  --text: #0C0C0C;
  --rev-text: #5C5B5B;
  --accent-one: #CB4D4E;
  --accent-two: #433D50;
  --bg: #D5D2CE;
}
/*-- Document Styles --*/

body{
  padding: .25em;
  font-size: 16px;
  color: var(--text);
  background-color: var(--bg);
}

.topnav{
  margin-top: -.3em;
  padding-bottom: .5em;
  background-color: var(--accent-one);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

a.nav-item{
  position: relative;
  top: 4px;
  text-align: center;
  padding: .7em;
  margin: auto 0;
  color: var(--text);
  margin: auto 0;
}

a.nav-item:hover{
  color: var(--rev-text);
  cursor: pointer;
}

.nav-item.trigram{
  display: none;
  text-decoration: none;
  font-size: 2em;
}

.label{
  font-size: 1rem;
}

@media screen and (max-width: 767px){
  .topnav a, .topnav span{display:none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
}

@media screen and (max-width: 767px){
  .topnav.responsive {align-items: center;} /*-- vertically centers--*/
  .topnav.responsive a, .topnav.responsive span {display:inherit;} /*-- makes trigram visible --*/
  .topnav.responsive a:first-child {margin-top:1em;} /*-- adds space above first item --*/
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;} /*-- makes items visible (but not the trigram) and adds space above them--*/
  .topnav.responsive a.more {margin-bottom: 1em;} /*-- adds margin below bottom item --*/
  .topnav.responsive a.trigram {visibility:hidden; transition:none;} /*-- hides trigram when open --*/
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;} /*-- replaces trigram sign with x-sign on mobile. --*/
}

@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-around;}
}

.gallery{
  padding: .5em;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-gap:1em;
}

.card{
  background-color: var(--rev-text);
  padding:.5em;
  border-radius: 4px;
}

.thumb{
  background-size: cover;
  background-position:center center;
  padding-bottom: 56%;
  border-radius: 4px 4px 0 0;
}

.one{  background-image: url('https://picsum.photos/6858/4574?image=1080');}
.two{  background-image: url('https://picsum.photos/7117/4090?image=1068');}
.three{  background-image: url('https://picsum.photos/5092/3395?image=1062');}
.four{  background-image: url('https://picsum.photos/6000/3376?image=1022');}
.five{  background-image: url('https://picsum.photos/3079/1733?image=1054');}
.six{  background-image: url('https://picsum.photos/4312/2868?image=1002');}
.seven{  background-image: url('https://picsum.photos/4000/2667?image=999');}
.eight{  background-image: url('https://picsum.photos/5032/2920?image=976');}
.nine{  background-image: url('https://picsum.photos/5184/3456?image=971');}
.ten{  background-image: url('https://picsum.photos/4928/3280?image=967');}
.eleven{  background-image: url('https://picsum.photos/5184/2916?image=888');}
.twelve{  background-image: url('https://picsum.photos/3000/4542?image=940');}

.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title{
  font-size: 1.2em;
  text-transform: uppercase;
  align-self: flex-start;
}

.card-text{
  font-size: .8em;
  align-self:flex-start;
}

button.card-more {
  background: transparent;
  padding: .45em .7em .4em .7em;
  border-radius: 200px;
  font-size: .7em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
button.card-more, button.card-more:visited {
  color: var(--prime);
  border: 1.5px solid var(--prime);
  transition: all 250ms ease-in-out;
}
button.card-more:hover, button.card-more:active {
  color: var(--accent);
  border-color: var(--accent);
}

@media screen and (max-width: 1250px) {
  .gallery{grid-template-columns: repeat(3,1fr);}
}

@media screen and (max-width: 960px) {
  .gallery{grid-template-columns: repeat(2,1fr);}
}

@media screen and (max-width: 600px) {
  .gallery{grid-template-columns: 1fr;}
}


/*--
body{
  padding:2em;
  font-size: 2em;
}

p{
  border: 1px solid red;
  padding: 1em;
  border-radius:4px;
}

.blue{
  color:blue;
}

.red{
  color:red;
}
--*/
